<nav class='breadcrumb is-centered is-large has-arrow-separator' aria-label='breadcrumbs'>
  <ul>
    <li class='is-active'>
      <a href='#' aria-current='page'>
        <span class='icon is-small'>
          <i class='fa fa-home' aria-hidden='true'></i>
        </span>
        <span>Home</span>
      </a>
    </li>
  </ul>
</nav>


  <%= render 'quizzes/user_home' %>
