<div style="margin-top: 200px">
  <div class="jumbotron" style="text-align: center ">
    <h1>Welcome to the RoR Skeletal App</h1>
    <h3 style="text-align: center">This is the Landing Page</h3>
  </div>


</div>