

<div class="row">
  <div class="col-md-2">
    <div class="sidenav">
      <div class="row" id="text_styling" style="background-color: white">

        <%= link_to (image_tag("download.png", size: "120x75")), home_supervisor_home_path%>
      </div>
      <div class="row" style="margin-top: 100px">
        <%= link_to "Reports", home_supervisor_home_path, remote:true %>
        <%#= link_to "Reports", reports_index_path %>
        <%= link_to "Charts", home_supervisor_home_path, remote: true %>
      </div>

      <div class="row logout-button" >
        <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
      </div>
    </div>
  </div>


  <div class="col-md-9 pt-5 mt-5 overflow-auto" id="user_reports" >

  </div>


  <div class="col-md-1" >

  </div>
</div>
