//// Place all the styles related to the home controller here.
//// They will automatically be included in application.css.
//// You can use Sass (SCSS) here: https://sass-lang.com/
//
body {
  font-family: "Lato", sans-serif;
}
.table thead th {
  width: 230px;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
#text_styling{

  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;

}
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.logout-button{
  background-color: white;
  /* margin-bottom: 15px; */
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 15px;
}
.logout-button a:hover{
  color:#000;
}

















//
//
//
////Supervisor Home
//
//.nav.nav-tabs {
//  float: left;
//  display: block;
//  margin-right: 20px;
//  border-bottom:0;
//  border-right: 1px solid #ddd;
//  padding-right: 15px;
//}
//.nav-tabs .nav-link {
//  border: 1px solid transparent;
//  border-top-left-radius: .25rem;
//  border-top-right-radius: .25rem;
//  background: #ccc;
//}
//
//.nav-tabs .nav-link.active {
//  color: white;
//  background-color:#007bff !important;
//  border-color: transparent !important;
//}
//.nav-tabs .nav-link {
//  border: 1px solid transparent;
//  border-top-left-radius: 0rem!important;
//  border-top-right-radius: 0rem!important;
//}
//.tab-content>.active {
//  display: block;
//  background: white;
//  min-height: 165px;
//}
//.nav.nav-tabs {
//  float: left;
//  display: block;
//  margin-right: 20px;
//  border-bottom: 0;
//  border-right: 1px solid transparent;
//  padding-right: 15px;
//}